<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
<div class="container">
    <h1>Создание статьи</h1>

    <form action="{% url 'article_create' %}" method="POST">
        {% csrf_token %}

        <div class="mb-3">
          <label for="title" class="form-label">Название</label>
          <input type="text" class="form-control" name="title" id="title" placeholder="Введите название статьи">
        </div>

        <div class="mb-3">
          <label for="author" class="form-label">Автор</label>
          <input type="text" class="form-control" name="author" id="author" placeholder="Введите автора статьи">
        </div>

        <div class="mb-3">
          <label for="body" class="form-label">Текст</label>
          <textarea class="form-control" name="body" id="body" rows="3"></textarea>
        </div>

        <button type="submit" class="btn btn-success">Создать</button>
    </form>
</div>
</body>
</html>