<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
    <div class="container">
        <div class="text-center">
            <h1>Блог</h1>
        </div>
        <div class="d-flex justify-content-center">
            <a href="{% url 'article_create' %}" class="btn btn-primary">Primary</a>
        </div>
    </div>
</body>
</html>